<%- include ('partials/header') %>


<%- include ('partials/main_nav') %>


  
  <!--main content-->
  <main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      
        <h1 class="display-4">About Me : </h1>
        
    </div>

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5" style="border:1px solid #ddd">
              <br><br>
              <img src="\Assets\images\320049685_1289845074951827_8040562201050890528_n (3).jpg"  alt="responsive website"
              class="img-fluid">
            </div>
          <div class="col-xl-6 col-lg-6 col-md-6" style="border:1px solid #ddd">
              <br><br><p>My name is Rasheed Adeyemi.</p>
              <p>I hail from west Africa,Specifically Nigeria.</p>
              <p>I had my degree in computer engineering in philipines and am presenty taking Artificial Intelligence at Centennial College</p>
              <p>To download my Resume : <button class="btn btn-outline-success">
                <div class="container-fluid" id="navbarSupportedContent">
                <a class="nav-link active" href="/Assets/RESUME.pdf" download></i>Click here</a>
            </div></button></p>
          </div>
        </div>
    </div>
  </main>

  
  <%- include ('partials/bottom_nav') %>
  <%- include ('partials/footer') %>

