<%- include ('partials/header') %>


<%- include ('partials/main_nav') %>

  
  <!--main content-->
  <main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      
        <h2> Hi, Thank you for stoping by</h2>
        <p>1- I present to you in this website the services i offer and some project i did. </p>
        <p>2- want to know more about me? click below </p>
        
      <button class="btn btn-outline-success">
        <div lass="container-fluid" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <a class="nav-link active"  href="/about"></i>About Page</a>
        </div>
      </button>
    </div>
  </main>

  
  <%- include ('partials/bottom_nav') %>
  <%- include ('partials/footer') %>
